/* 언어설정 */
@charset 'utf-8';

/* 폰트정보 */
@import url('https://webfontbox.github.io/Arita/font.css');
@import url('https://webfontbox.github.io/Arita/font.min.css');

/* font-family: 'Arita'; */
/*
Thin(100)
Light(300)
Medium(500)
SemiBold(600)
Bold(700) 
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* font-family: "Lora", serif; */

/* 전체설정 */
* {
    margin: 0;
    padding: 0;
    color: #181818;
    font-size: 20px;
}
a {
    color: #181818;
    text-decoration: none;
}
ul {list-style: none;}
img {
    vertical-align: bottom;
}
body {
    font-family: 'Arita';
    overflow-x: hidden;
    cursor: url('img/cusor.png') 16 1, auto;
}
a {cursor: url('img/cusor2.png') 16 1, auto;}
::-webkit-scrollbar {display: none;}



#loader {
  position: fixed; /* absolute → fixed로 변경 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: transparent;
  pointer-events: none; /* 클릭 막기 방지 */
}

#loader:before,
#loader:after {
  content: '';
  display: block;
  background-color: #181818;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: transform 0.5s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transform: translateX(0);
}

#loader:before { left: 0; }
#loader:after { right: 0; }

#loader.loaded:before { transform: translateX(-100%); }
#loader.loaded:after { transform: translateX(100%); }

#loader.hidden {
  display: none;
}


/* 헤더 설정######################### */
header {
    width: 100%;
    height: 100vh;
}
.header_inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header_inner .main_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 70%;
    width: 100%;
    /* background-color: green; */
    margin-top: 50px;
}
.header_inner p {
    font-size: 25px;
    letter-spacing: 2px;
}
.header_inner .title {
    background-image: url(img/main_logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 580px;
    height: 130px;
    margin-bottom: 15px;
    /* background-color: red; */
    animation: title 1.5s 0.5s linear forwards;
    opacity: 0;
}
@keyframes title {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.header_inner .main_img {
    background-image: url(img/flower.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 400px;
    height: 400px;
    clip-path: inset(0 50vw 0 50vw);
    animation: flower 1s 1.5s linear forwards;
    margin-top: 30px;
    /* min-width: 90vw; */
}
@keyframes flower {
    0% {
        clip-path: inset(0 calc(50% + 10px) 0 calc(50% + 10px));
    }
    50% {
        clip-path: inset(0 calc(30% + 5px) 0 calc(30% + 5px));
    }
    100% {
        clip-path: inset(0 0 0 0);
    }
}
.header_inner figcaption {
    display: flex;
    text-align: center;
    margin-top: 40px;
}
.break {
    display: block;
    text-align: center;
    margin-left: 5px;
}
.header_inner .scroll {
    position: absolute;
    bottom: 5%;
    animation: doong 2s infinite;
}
.header_inner .scroll i {
    color: #afafaf;
    font-size: 40px;
}

@keyframes doong {
    0% {transform: translateY(0);
        animation-timing-function: ease-in}
    50% {transform: translateY(20px);
        animation-timing-function: ease-out}
    100% {transform: translateY(0);
        animation-timing-function: ease-in;}
}


/* gnb 설정############################## */
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #181818;
}
.nav_inner {
    width: 100%;
    display: flex;
    align-items: center;
}
.nav_inner h1 {
    margin-left: 30px;
    margin-top: 14px;
}
.nav_inner h1 a {}
.nav_inner h1 a img {
  width: 42px;
  height: 42px;
}
.nav_inner ul {
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-around;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.nav_inner ul li {
    padding: 5px;
    cursor: url('img/cusor2.png') 16 1, auto;
    display: inline-block;
    position: relative;
    color: #ffffff;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 17px;
}
.nav_inner ul li::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    transition: width 250ms ease-out; 
    left: auto; 
    right: 0;  
    width: 0;
}
.nav_inner ul li:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}


/* 메인 미디어쿼리############# */
  @media(max-width:600px) {
    .header_inner .main_title {
        height: 65%;
    }
    .header_inner p {
        font-size: 16px;
    }
    .header_inner .title {
        width: 70vw;
    }
    .header_inner figcaption {
        font-size: 16px;
        display: block;
        align-items: center;
    }
    .header_inner .main_img {
        width: 90vw;
        height: 90vw;
    }
    .break {
        display: block;
        font-size: 16px;
    }
    nav {
      height: 60px;
  }
    .nav_inner {
      display: flex;
      justify-content: center;
    }
    .nav_inner .gnb {
        display: none;
    }
    .nav_inner h1 {
      margin-left: 0px;
      margin-top: 11px;
  }
  .nav_inner h1 a img {
    width: 38px;
    height: 38px;
  }
 

  }
  @media(min-width:601px) and (max-width:768px) {
    .header_inner .main_title {
        height: 65%;
    }
    .header_inner p {
        font-size: 20px;
    }
    .header_inner .title {
        width: 500px;
    }
    .header_inner figcaption {
        font-size: 16px;
        display: block;
        align-items: center;
    }
    .break {
        display: block;
        font-size: 16px;
    }
    .header_inner .main_img {
        width: 320px;
        height: 320px;
    }
    .nav_inner ul {
        width: 400px;
    }
  }
  @media(min-width:769px) and (max-width:999px) {
    /* .header_inner p {
        font-size: 20px;
    }
    .header_inner .title {
        width: 550px;
    }
    .header_inner figcaption {
        font-size: 16px;
    }
    .header_inner .main_img {
        width: 320px;
        height: 320px;
    } */
  }
  @media(min-width:1000px) and (max-width:1279px) {}





/* about 섹션 ####################### */
  .about {
    height: 900px;
    /* background-color: darksalmon; */
  }
  .about .about_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .about .abt_title {
    width: 100%;
    height: 200px;
    background-image: url(img/abt_title.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .about .proImg {
    width: 400px;
    height: 490px;
    background-image: url(img/proimg.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 80px;
    margin-top: -25px;
    opacity: 0;
  }
  .proImg.show {
    overflow: hidden;
    animation: image 1s 0.4s ease-out;
    animation-fill-mode: forwards;
  }

  .about .inform {
    /* background-color: sandybrown; */
    width: 35%;
    opacity: 0;
  }
  .inform.show {
    overflow: hidden;
    animation: image 1s 0.8s ease-out;
    animation-fill-mode: forwards;
  }
  .about .inform h2 {
    margin-bottom: 15px;
  }
  .about .inform div:nth-child(3) ul {
    display: flex;
    width: 100%;
    /* background-color: green; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }
  .about .inform div:nth-child(3) ul li {
    border: 1px solid #181818;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #fff;
    transition: 0.3s;
    margin-right: 10px;
    white-space: nowrap;
  }
  .about .inform div:nth-child(3) .confetti {
    background-color: #181818;
    color: #fff;
    cursor: url('img/cusor2.png') 16 1, auto;
  }
  .about .inform div:nth-child(3) ul li:hover {
    background-color: #181818;
    color: #fff;
  }
  .about .inform div:nth-child(4) ul {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
  .about .inform div:nth-child(4) ul li {
  }
  .about .inform div:nth-child(4) ul li img {
    /* width: 35px; */
    height: 45px;
  }
  .about .inform ul {
    margin-bottom: 30px;
  }
  .about .inform ul li {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .about .inform ul li time {
    font-size: 16px;
    font-weight: 300;
  }
  .about .inform .topInform {
    display: flex;
    width: 350px;
    justify-content: space-between;
  }



  @media(max-width:600px) {
    .about {
        height: 1300px;
        /* background-color: darksalmon; */
      }
      .about .abt_title {
        width: 100%;
        height: 150px;
        background-size: 160%;
    }
    .about .about_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
      }
      .about .proImg {
        width: 300px;
        height: 355px;
        margin-right: 0;
      }
      .about .inform {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }
      .about .inform .topInform {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
      }
      .about .inform .topInform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(1) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(2) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .about .inform div:nth-child(3) ul {
        align-items: center;
        justify-content: center;
      }
      .about .inform div:nth-child(3) ul li {
          width: 80px;
          height: 30px;
          font-size: 14px;
        }
        .about .inform div:nth-child(4) ul {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
        }
        .about .inform div:nth-child(4) ul li {
            margin-left: 10px;
        }
    }
@media(min-width:601px) and (max-width:768px) {
    .about {
        height: 1300px;
        /* background-color: darksalmon; */
      }
      .about .abt_title {
        background-size: 150%;
        height: 150px;
    }
    .about .about_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        /* background-color: forestgreen; */
      }
      .about .proImg {
        width: 300px;
        height: 355px;
        margin-right: 0;
      }
      .about .inform {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }
      .about .inform .topInform {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
      }
      .about .inform .topInform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(1) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(2) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(3) ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .about .inform div:nth-child(3) ul li {
        width: 80px;
        height: 30px;
        font-size: 14px;
      }
      .about .inform div:nth-child(4) ul {
        width: 400px;
      }
}
@media(min-width:769px) and (max-width:999px) {
    .about {
        height: 1300px;
        /* background-color: darksalmon; */
      }
      .about .abt_title {
        background-size: 130%;
        height: 170px;
    }
    .about .about_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        /* background-color: forestgreen; */
      }
      .about .proImg {
        width: 300px;
        height: 355px;
        margin-right: 0;
      }
      .about .inform {
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }
      .about .inform .topInform {
        display: flex;
        flex-direction: column;
        width: 350px;
        align-items: center;
      }
      .about .inform .topInform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform>div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(1) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(2) ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .inform div:nth-child(4) ul {
        width: 400px;
      }
}
@media(min-width:1000px) and (max-width:1279px) {
  .about .abt_title {
    background-size: 130%;
}
    .about .proImg {
        width: 400px;
        height: 490px;
        margin-right: 60px;
      }
      .about .inform {
        /* background-color: sandybrown; */
        width: 45%;
      }
}





/* project 섹션################## */
    .project {
        height: 2800px;
    }
    .project .pro_title {
        width: 100%;
        height: 200px;
        background-image: url(img/pro_title.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
    }
    .project>article {
        height: 650px;
        width: 100%;
        border-bottom: #181818 1px solid;
        display: flex;
    }
    .project article .txt_box {
        width: 45%;
        position: relative;
        opacity: 0;
    }
    .txt_box.show {
      animation: image 1s 0.6s ease;
      animation-fill-mode: forwards;
    }
    
    .project article .txt_box .tBox_inner {
        height: 60%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .project article .txt_box .tBox_inner h2 {
        font-size: 40px;
        margin-bottom: -30px;
    }
    .project article .txt_box .tBox_inner p {
        font-size: 16px;
        width: 430px;
        font-weight: 300;
        line-height: 25px;
    }
    .project article .txt_box .tBox_inner ul {}
    .project article .txt_box .tBox_inner ul li {
        display: flex;
        margin-bottom: 10px;
        font-weight: 300;

    }
    .project article .txt_box .tBox_inner ul li>div {
        width: 70px;
        flex-shrink: 0;
    }
    .project article .txt_box .tBox_inner .site {
        font-family: 'Arita';
        width: 150px;
        height: 50px;
        border: 1px solid #181818;
        background-color: #fff;
        transition: 0.3s;
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .project article .txt_box .tBox_inner .site:hover {
        background-color: #181818;
        color: #fff;
    }

    .project article .img_box {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 55%;
    }
    .project article .img_box div {
        width: 680px;
        height: 338px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        opacity: 0;
    }
    .img_box div.show {
      overflow: hidden;
      animation: image 1s ease;
      animation-fill-mode: forwards;
    }
    .project article:nth-child(2) .img_box div {
        background-image: url(img/pro_1.png);
    }
    .project article:nth-child(2) .img_box {
        position: relative;
    }
    .phone {
        width: 180px;
        height: 353px;
        position: absolute;
        top: 35%;
        right: 5%;
        opacity: 0;
    }
    .phone.show {
      overflow: hidden;
      animation: short 0.8s 0.8s ease-in;
      animation-fill-mode: forwards;
    }
    .project article:nth-child(3) .img_box div {
        background-image: url(img/pro_2.png);
    }
    .project article:nth-child(4) .img_box div {
        background-image: url(img/pro_3.png);
    }
    .project article:nth-child(5) .img_box div {
        background-image: url(img/pro_4.png);
    }
    .project article:nth-child(5) .img_box {
        position: relative;
    }
    .project article:nth-child(5) .img_box img {
        width: 180px;
        height: 353px;
        position: absolute;
        top: 35%;
        right: 5%;
    }

    @media(max-width:600px) {
        .project {
            height: 3150px;
        }
        .project .pro_title {
          background-size: 160%;
          height: 150px;
      }
        .project>article {
            height: 700px;
            width: 100%;
            display: block;
        }
        .project article .img_box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
        }
        .project article .txt_box {
            width: 100%;
            height: 60%;
            position: relative;
            margin-top: 0px;
        }
        .project article .txt_box .tBox_inner {
            height: 100%;
            width: 70%;
            position: absolute;
            top: 10%;
            left: 15%;
            transform: translateY(0);
        }
        .project article .img_box div {
            width: 327px;
            height: 164px;
        }
        .project article:nth-child(2) .img_box img {
            width: 75px;
            height: 149px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article:nth-child(5) .img_box img {
            width: 75px;
            height: 149px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article .txt_box .tBox_inner h2 {
            font-size: 30px;
            margin-bottom: -15px;
        }
        .project article .txt_box .tBox_inner p {
            font-size: 14px;
            width: 100%;
        }
        .project article .txt_box .tBox_inner ul li {
            font-size: 16px;
        }
        .project article .txt_box .tBox_inner ul li b {
          font-size: 18px;
        }
        .project article .txt_box .tBox_inner .site {
          width: 100%;
          height: 50px;
          border: 1px solid #181818;
          background-color: #181818;
          color: #fff;
          transition: 0.3s;
          font-weight: 200;
          display: flex;
          align-items: center;
          justify-content: center;
      }
    }
    @media(min-width:601px) and (max-width:768px) {
        .project {
            height: 3350px;
        }
        .project .pro_title {
          background-size: 150%;
          height: 150px;
      }
        .project>article {
            height: 750px;
            width: 100%;
            display: block;
        }
        .project article .img_box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
        }
        .project article .txt_box {
            width: 100%;
            height: 50%;
            position: relative;
            /* background-color: forestgreen; */
        }
        .project article .txt_box .tBox_inner {
            height: 100%;
            width: 70%;
            position: absolute;
            top: 10%;
            left: 15%;
            transform: translateY(0);
        }
        .project article .img_box div {
            width: 500px;
            height: 251px;
        }
        .project article:nth-child(2) .img_box img {
            width: 140px;
            height: 275px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article:nth-child(5) .img_box img {
            width: 140px;
            height: 275px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article .txt_box .tBox_inner h2 {
            font-size: 36px;
        }
        .project article .txt_box .tBox_inner p {
            font-size: 16px;
            width: 100%;
        }
        .project article .txt_box .tBox_inner ul li {
            font-size: 18px;
        }
    }
    @media(min-width:769px) and (max-width:999px) {
        .project {
            height: 3370px;
        }
        .project .pro_title {
          background-size: 130%;
          height: 170px;
      }
        .project>article {
            height: 750px;
            width: 100%;
            display: block;
        }
        .project article .img_box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 50px;
        }
        .project article .txt_box {
            width: 100%;
            height: 50%;
            position: relative;
            /* background-color: forestgreen; */
        }
        .project article .txt_box .tBox_inner {
            height: 100%;
            width: 70%;
            position: absolute;
            top: 10%;
            left: 15%;
            transform: translateY(0);
        }
        .project article .img_box div {
            width: 600px;
            height: 301px;
        }
        .project article:nth-child(2) .img_box img {
            width: 140px;
            height: 275px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article:nth-child(5) .img_box img {
            width: 140px;
            height: 275px;
            position: absolute;
            top: 25%;
            right: 18%;
        }
        .project article .txt_box .tBox_inner h2 {
            font-size: 36px;
        }
        .project article .txt_box .tBox_inner p {
            font-size: 16px;
            width: 100%;
        }
        .project article .txt_box .tBox_inner ul li {
            font-size: 18px;
        }
    }
    @media(min-width:1000px) and (max-width:1279px) {
      .project .pro_title {
        background-size: 130%;
    }
        .project article .txt_box .tBox_inner {
            height: 55%;
            width: 90%;
            position: absolute;
            top: 55%;
            left: 7%;
        }
        .project article .txt_box .tBox_inner h2 {
            font-size: 36px;
            margin-bottom: -10px;
        }
        .project article .txt_box .tBox_inner p {
            font-size: 16px;
            width: 380px;
        }
        .project article .txt_box .tBox_inner ul li {
            font-size: 18px;
        }
        .project article .txt_box .tBox_inner ul li>div {
            width: 70px;
        }
        .project article .img_box div {
            width: 500px;
            height: 251px;
        }
        .project article:nth-child(2) .img_box img {
            width: 120px;
            height: 236px;
            position: absolute;
            top: 40%;
            right: 5%;
        }
        .project article:nth-child(5) .img_box img {
            width: 120px;
            height: 236px;
            position: absolute;
            top: 40%;
            right: 5%;
        }
    }




    

  /* contact 섹션 설정############### */
  .contact {
    height: 700px;
    width: 100vw;
    background-color: #181818;
    position: relative;
  }
  .contact .contact_inner {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    position: absolute;
    bottom: 0;
  }
  .contact .contact_inner h2 {
    color: #ffffff;
    font-size: 48px;
    opacity: 0;
  }
  .contact_inner h2.show {
    overflow: hidden;
    animation: image 1s ease;
    animation-fill-mode: forwards;
  }
  .contact .contact_inner h3 {
    margin-bottom: -30px;
    opacity: 0;
  }
  .contact_inner h3.show {
    overflow: hidden;
    animation: short 1s 0.4s ease;
    animation-fill-mode: forwards;
  }
  .contact .contact_inner h3 a {
    color: #fff;
    text-decoration: underline;
    font-weight: 100;
  }
  .contact .contact_inner h3 a i {
    color: #fff;
    margin-right: 5px;
  }
  .contact .contact_inner .qrcode {
    background-image: url(img/qr.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 180px;
    height: 180px;
    margin-bottom: 80px;
    opacity: 0;
  }
  .qrcode.show {
    overflow: hidden;
    animation: short 1s 0.6s ease;
    animation-fill-mode: forwards;
  }
  .contact p {
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 30px;
    text-align: center;
  }
  .contact .topBtn {
    position: absolute;
    right: 15%;
    top: 80%;
    color: #fff;
    width: 50px;
    height: 50px;
    background-color: #181818;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    cursor: url('img/cusor2.png') 16 1, auto;
}
.contact .topBtn:hover {
    background-color: #fff;
    color: #181818;
}


  @media(max-width:600px) {
    .contact {
        height: 600px;
    }
    .contact .contact_inner {
    }
    .contact .contact_inner h2 {
        font-size: 40px;
      }
      .contact .contact_inner h3 a {
        font-size: 16px;
      }
      .contact .contact_inner h3 a i {
        font-size: 16px;
      }
      .contact .contact_inner .qrcode {
        width: 140px;
        height: 140px;
      }
      .contact .topBtn {
        position: absolute;
        right: 50%;
        top: 75%;
        transform: translateX(50%);
    }
  }
@media(min-width:601px) and (max-width:768px) {
}
@media(min-width:769px) and (max-width:999px) {}
@media(min-width:1000px) and (max-width:1279px) {}





    /* 와이드데스크탑 */
/* 1280px 이상일때 설정 */
@media(min-width:1280px) {
    .header_inner, .contact_inner, .nav_inner {
        width: 1280px;
        margin: 0 auto;
    }
}


@media(max-width:600px) {}
@media(min-width:601px) and (max-width:768px) {}
@media(min-width:769px) and (max-width:999px) {}
@media(min-width:1000px) and (max-width:1279px) {}


@keyframes image {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes short {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}